<!DOCTYPE html>
<html lang="en" ng-app="mosaticonApp">
<head>
	<!-- NetworkN -->
	<script async src="https://kumo.network-n.com/dist/app.js" site="steam-tools"></script>

	<meta charset="UTF-8">
	<meta name="description" content="Generate a mosaic of your chosen image using the Steam emoticons you own.">
	<meta name="keywords" content="Steam,mosaic,emoticons,image,inventory">
	<meta name="referrer" content="no-referrer-when-downgrade">
	<meta name="author" content="Ehsan Kia">
	<title>Mosaticon</title>

	<link rel="shortcut icon" href="/favicon.ico">
	<link href="bootstrap-2.1.0.min.css" rel="stylesheet">
	<link href="hotkeys.min.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mosaticonCtrl" ng-cloak>
	<a class="corner topbutton" style="left: 25px;" href="../">&laquo; Hub</a>
	<div class="corner" style="right: 25px;">
		<a target="_blank" href="https://twitter.com/SteamTools"><img src="/img/twitter.png" alt="Twitter"></a>
		<a target="_blank" href="https://steamcommunity.com/groups/steam_tools"><img src="/img/steam.png" alt="Steam Group"></a>
		<a class="topbutton" id="feedback"  href="https://steamcommunity.com/groups/steam_tools">Feedback</a>
		<a class="topbutton" id="donate" href="https://www.paypal.com/donate/?business=HLRYRKCXRYX7C">Donate</a>
	</div>

	<div id="container">
		<div id="stepbox" style="width: 400px">
			<div style="margin: 10px"><b>Step one:</b> Load your emoticons</div>
			<form id="addinput" class="input-prepend input-append form-horizontal">
				<span class="add-on">SteamID</span>
				<input class="span2" type="text" ng-model="UserID">
				<button class="btn btn-inverse" ng-click="loadEmoticons()">Fetch Emoticons</button>
			</form>
			<div class="emotebox" ng-right-click="">
				<span id="error">{{status}}</span>
				<div id="help"></div>
				<span style="color: white" ng-if="!status">{{emoticons.length}} emoticon(s) loaded<br></span>
				<div ng-show="emoticons.length > 0 && !status">
					<span style="color: #999">(left click to select / right click to disable)</span>
					<br>
					<form id="addinput" class="input-prepend form-horizontal">
						<span class="add-on" style="color: black;">Filter</span>
						<input class="span2" type="text" ng-model="emoteFilter">
					</form>
				</div>
				<img class="emote" ng-repeat="e in emoticons | filter:{disable: false} | filter:emoteFilter"
					ng-src="{{CDN}}/{{e.name}}" ng-click="selectEmote($event, e)" ng-right-click="toggleEmote(e)" draggable="false"
					ng-class="{select: e.select}" tooltip-popup-delay='200' tooltip-placement="top" tooltip=":{{e.name}}:" />
			</div>
			<div class="emotebox" style="background-color: #363; padding: 0 4px;" ng-right-click="">
				<span ng-if="usedEmotes.length > 0" style="color: white">Used Emotes<br></span>
				<img class="emote" ng-repeat="e in usedEmotes"
					ng-src="{{CDN}}/{{e.name}}" ng-click="selectEmote($event, e)" ng-right-click="toggleEmote(e)" draggable="false"
					ng-class="{select: e.select}" tooltip-popup-delay='200' tooltip-placement="top" tooltip=":{{e.name}}:" />
			</div>
			<div class="emotebox" style="background-color: #633; padding: 0 4px;" ng-right-click="">
				<span ng-if="(emoticons | filter:{disable: true}).length > 0"
					style="color: white">Disabled Emotes<br></span>
				<img class="emote" ng-repeat="e in emoticons | filter:{disable: true}"
					ng-src="{{CDN}}/{{e.name}}" ng-click="selectEmote($event, e)" ng-right-click="toggleEmote(e)" draggable="false"
					ng-class="{select: e.select}" tooltip-popup-delay='200' tooltip-placement="top" tooltip=":{{e.name}}:" />
			</div>
			<div ng-if="emoticons.length > 0" style="text-align: center">
				<div class="btn-group" style="display: inline-block">
					<button style="display: inline-block" class="btn" ng-click="disableAll()">Disable All</button>
					<button style="display: inline-block" class="btn" ng-click="enableAll()">Enable All</button>
				</div>
				<div class="btn-group" style="display: inline-block">
					<span class="input-prepend" style="margin-bottom:0; margin-left: 4px">
						<span class="add-on" style="width: 40px">Sort</span>
					</span>
					<button type="button" class="btn" ng-model="sortMode" ng-click="sortByHue()" btn-radio="'hue'">Hue</button>
					<button type="button" class="btn" ng-model="sortMode" ng-click="sortByLength()" btn-radio="'char'">Chars</button>
					<button type="button" class="btn" ng-model="sortMode" ng-click="sortByGame()" btn-radio="'game'">Game</button>
				</div>
			</div>
			<br><br>

			<div ng-show="processedEmotes && emoticons.length > 0">
				<div style="margin-top: 20px;"><b>Step two:</b> Load Image or Blank Canvas</div>
				<span class="btn btn-default btn-file" style="margin: 10px;">
					<input type="file" id="imageLoader">
				</span>
				<button style="display: inline-block" class="btn" ng-click="blankCanvas()">Blank Canvas</button>
				<br><br>
				<canvas id="imageCanvas" width="200" ng-show="imageLoaded"></canvas>
			</div>

			<div ng-show="imageLoaded || blankLoaded">
				<span>Width: </span> <input type="number" min="1" max="50" ng-model="width.value">
				<input type="range" min="1" max="50" step="1" ng-model="width.value"
					ng-mousedown="wSliderActive=1" ng-mouseup="wSliderActive=0; updateUpscale()">
				<br>
				<span>Height: </span> <input type="number" min="1" max="50" ng-model="height.value">
				<input type="range" min="1" max="50" step="1" ng-model="height.value" ng-disabled="!blankLoaded"
					ng-mousedown="hSliderActive=1" ng-mouseup="hSliderActive=0; updateUpscale()">
			</div>
		</div>
		<div id="preview" ng-show="processedEmotes && emoticons.length > 0">
			<div>
				<button class="btn btn-inverse action-btn" ng-click="importMenu()">Import</button>
				<button class="btn btn-inverse action-btn" ng-click="exportMosaic()">Export</button>
			</div>
			<div class="btn-group" style="display: inline-block" ng-show="imageLoaded">
				<span class="input-prepend" style="margin-bottom:0;">
					<span class="add-on" style="width: 100px">Compare Mode</span>
				</span>
				<button type="button" class="btn" ng-model="compareMode" btn-radio="'rgb'">RGB</button>
				<button type="button" class="btn" ng-model="compareMode" btn-radio="'lab'">Lab</button>
				<button type="button" class="btn" ng-model="compareMode" btn-radio="'hsl'">HSL</button>
			</div>
			<div style="margin: 10px; display: inline-block" class="btn-group" ng-show="imageLoaded">
				<span class="input-prepend" style="margin-bottom:0;">
					<span class="add-on" style="width: 60px">Quality</span>
				</span>
				<button type="button" class="btn" ng-model="quality" btn-radio="'1'">1</button>
				<button type="button" class="btn" ng-model="quality" btn-radio="'2'">2</button>
				<button type="button" class="btn" ng-model="quality" btn-radio="'3'">3</button>
			</div>
			<br>
			<button style="margin-top: 8px" type="button" class="btn tool-btn" ng-model="tool" ng-click="undo()" ng-disabled="undoHistory.length == 0" ng-show="imageLoaded || blankLoaded">
				<i class="icon-unshare"></i>
			</button>
			<div class="btn-group" style="margin: 8px; margin-bottom: 0; display: inline-block" ng-show="imageLoaded || blankLoaded">
				<span class="input-prepend" style="margin-bottom:0">
					<span class="add-on" style="width: 50px; height: 30px; line-height: 30px;">Tool</span>
				</span>
				<button type="button" class="btn tool-btn" ng-model="tool" btn-radio="'pen'" ><i class="icon-pencil"></i></button>
				<button type="button" class="btn tool-btn" ng-model="tool" btn-radio="'line'"><i class="icon-vector-path-line"></i></button>
				<button type="button" class="btn tool-btn" ng-model="tool" btn-radio="'rect'"><i class="icon-vector-path-square"></i></button>
				<button type="button" class="btn tool-btn" ng-model="tool" btn-radio="'circ'"><i class="icon-vector-path-circle"></i></button>
				<button type="button" class="btn tool-btn" ng-model="tool" btn-radio="'move'"><i class="icon-move"></i></button>
				<button type="button" class="btn tool-btn" ng-model="tool" btn-radio="'fill'"><i class="icon-tint"></i></button>
			</div>
			<div class="btn-group" style="margin: 8px; margin-bottom: 0; display: inline-block" ng-show="imageLoaded || blankLoaded">
				<button type="button" class="btn tool-btn" ng-click="horizontalFlip()"><i class="icon-text-width"></i></button>
				<button type="button" class="btn tool-btn" ng-click="verticalFlip()"><i class="icon-text-height"></i></button>
			</div>
			<br>
			<div style="margin-bottom: -12px; font-size: 10px;">Press <b>?</b> for keyboard shortcuts</div>
			<br>
			<div ng-mousemove="mouseMove($event)" ng-mousedown="mouseDown($event)" ng-mouseup="mouseUp()"
				id="mosaic" ng-show="mosaic" ng-style="{'width': (width.value * 18) + 'px'}">
				<div ng-repeat="row in mosaic track by $index" style="margin-top: -2px;">
					<img ng-repeat="e in row track by $index"
						ng-right-click="toggleEmote(e)"
						ng-src="{{CDN}}/{{e.name}}" draggable="false"
						onmousedown="if (event.preventDefault) event.preventDefault()">
				</div>
			</div>
			<br>
			<span><b>Character count:</b> {{mosaic | charSum}}</span>
			<div style="margin-bottom: -12px; font-size: 10px;"><b>Limits: </b>Showcase = 8000, Comment = 800</div>
		</div>
	</div>
	<div id="nn_skinl" class="adswitch_skin"></div>
	<div id="nn_skinr" class="adswitch_skin"></div>

	<script type="text/ng-template" id="importMenu.html">
		<div class="modal-header" style="text-align: center;">
			<h3 class="modal-title">Import Mosaic</h3>
		</div>
		<div style="text-align: center;">
			<textarea class="form-control" ng-model="data.text" style="width: 400px; height: 300px; margin: 10px"></textarea>
		</div>
		<div class="modal-footer" style="text-align: center">
			<button class="btn" ng-click="closeModal()">Cancel</button>
			<button class="btn btn-success" ng-click="importMosaic()">Import</button>
		</div>
	</script>

	<script type="text/ng-template" id="inventoryMenu.html">
		<div class="modal-header" style="text-align: center;">
			<h3 class="modal-title">Import Inventory</h3>
		</div>
		<div style="text-align: center; padding: 10px 40px;">
			Open <a target=_blank ng-href="https://steamcommunity.com/actions/EmoticonList">this link</a> (make sure you're logged in)
			and paste the content below:

			<textarea class="form-control" ng-model="data.text" style="width: 400px; height: 300px; margin: 10px"></textarea>

			<div ng-if="data.error" style="color: red">{{data.error}}</div>
		</div>
		<div class="modal-footer" style="text-align: center">
			<button class="btn" ng-click="closeModal()">Cancel</button>
			<button class="btn btn-success" ng-click="importInventory()">Import</button>
		</div>
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="hotkeys.min.js"></script>
	<script src="ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="kdTree.min.js"></script>
	<script src="colors.js"></script>
	<script src="main.js"></script>

	<!-- Start of Google Analytics code -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-30619812-2', 'auto');
		ga('require', 'linkid', 'linkid.js');
		ga('send', 'pageview');
	</script>
	<!-- End of Google Analytics code -->

	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
		var sc_project=9905430;
		var sc_invisible=1;
		var sc_security="89ce89e8";
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="create counter"
	href="http://statcounter.com/free-hit-counter/"
	target="_blank"><img class="statcounter"
	src="http://c.statcounter.com/9905430/0/89ce89e8/1/"
	alt="create counter"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->

</body>
</html>