<!doctype html>
<html lang="en" ng-app="valueApp">
<head>
	<meta charset="UTF-8">
	<title>Item Value Sorter</title>
	<meta name="description" content="Load your Steam Community items and sort them by market value or filter them by type.">
	<meta name="keywords" content="Steam,items,market,value,price,sort,inventory,emoticon,background,card,tf2,team fortress 2,dota 2,cs:go,counter-strike global offensive">
	<meta name="author" content="Ehsan Kia">

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

	<link rel="shortcut icon" href="/favicon.ico">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/2/dataTables.bootstrap.css">
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="InvCtrl" ng-cloak>
	<a class="corner topbutton" style="left: 25px;" href="../">&laquo; Hub</a>
	<div class="corner" style="right: 25px;">
		<a target="_blank" href="https://twitter.com/toolssteam"><img src="/img/twitter.png" alt="Twitter"></a>
		<a target="_blank" href="http://steamcommunity.com/groups/steam_tools"><img src="/img/steam.png" alt="Steam Group"></a>
		<a class="topbutton" id="feedback"  href="http://steamcommunity.com/id/Ph0X"
			data-uv-trigger popover-placement="bottom" popover-trigger="show" popover-animation="true"
			popover="Got a suggestion? Found a bug? Leave feedback!">Feedback</a>
		<a class="topbutton" id="donate"  href="https://www.twitchalerts.com/donate/ehsankia">Donate</a>
	</div>

	<div id="container">
		<div style="margin: 6px; font-weight: bold">Load your inventory and sort the items by market value</div>

		<form class="input-prepend input-append form-horizontal" style="margin-right: 10px">
			<span class="add-on">SteamID</span>
			<input class="span2" type="text" ng-model="UserID">
			<button class="btn btn-inverse" ng-click="loadItems()"><i class="icon-user icon-white"></i> Fetch</button>
		</form>

		<form class="btn-group" style="margin-top: 10px">
			<span class="input-prepend" style="margin-bottom:0">
				<span class="add-on" style="width: 60px">Game</span>
			</span>
			<div class="input-group btn-group">
				<div class="input-group-addon">Game</div>
				<div class="dropdown" dropdown>
					<a class="btn btn-default" data-toggle="dropdown" href="#" dropdown-toggle>
						{{ typeMap[appid] }}
					<b class="caret"></b></a>
					<ul class="dropdown-menu" style="width: 160px" role="menu">
						<li ng-repeat="app in apps">
							<a href="#" ng-click="setGame(app)">{{typeMap[app]}}</a>
						</li>
					</ul>
				</div>
			</div>
		</form>

		<div id="error">{{status}}</div>
		<div id="help"></div>

		<div id="switch_placeholder_f37c7b4999258037274f1c470dc41520" class="switch_placeholder" style="margin: auto; margin-top: 10px"></div>
		<script> (__scads = window.__scads || []).push({"z":3189,"targetId":"switch_placeholder_f37c7b4999258037274f1c470dc41520","domain":"delivery.e.switchadhub.com","width":"728","height":"90"}); </script>
		<script async src="//delivery.e.switchadhub.com/adserver/sat.js?v=2"></script>

		<div ng-show="items.length">
			<hr>
			<button class="btn btn-mini" style="float: right" ng-hide="useTable" ng-click="useTable=true">
				Table Mode
			</button>
			<button class="btn btn-mini" style="float: right" ng-show="useTable" ng-click="useTable=false">
				Grid Mode
			</button>

			<span><b>Total:</b> {{(items | filter:dupesFilter | filter:typeFilter | filter:filterText | sumByKey:'price':'count':flags.fee) | currency:curIndex:false}}
				({{items | filter:dupesFilter | filter:typeFilter | filter:filterText | sumByKey:'count'}} items)</span>

			<div style="margin: 0 8px" class="btn-group">
				<span class="input-prepend" style="margin-bottom:0">
					<span class="add-on" style="width: 60px">Currency</span>
				</span>
				<div class="input-group btn-group">
					<div class="input-group-addon">Currency</div>
					<div class="dropdown" dropdown>
						<a class="btn btn-default" data-toggle="dropdown" href="#" dropdown-toggle>
							{{ CDATA[curIndex].name }}
						<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="currency in CDATA">
								<a href="#" ng-click="setCurrency($index)">{{currency.name}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<button ng-class="{active: flags.fee}" class="btn" ng-click="flags.fee=!flags.fee" ng-model="flags.fee">Fees</button>
			<button ng-class="{active: flags.dupes}" class="btn" ng-click="flags.dupes=!flags.dupes" ng-model="flags.dupes">Dupes</button>
			<span tooltip-popup-delay='250' tooltip-placement="top" tooltip="Show total price of item stacks rather than per item price">
				<button ng-class="{active: flags.stack}" class="btn" ng-click="flags.stack=!flags.stack" ng-model="flags.stack">Stack Price</button>
			</span>

			<br>

			<div class="btn-group" ng-show="appidLoaded == '753'">
					<span class="input-prepend" style="margin-bottom:0">
							<span class="add-on" style="width: 60px">Sub-type</span>
					</span>
					<button type="button" class="btn" ng-model="type" btn-radio="'0'">All</button>
					<button type="button" class="btn" ng-model="type" btn-radio="'1'">Emoticon</button>
					<button type="button" class="btn" ng-model="type" btn-radio="'2'">Background</button>
					<button type="button" class="btn" ng-model="type" btn-radio="'3'">Card</button>
					<button type="button" class="btn" ng-model="type" btn-radio="'4'">Booster</button>
			</div>

			<div class="input-prepend" style="margin: 6px">
				<span class="add-on" style="width:50px">Filter</span>
				<input class="span3" type="text" ng-model="filterText">
			</div>


			<br>

		<div ng-show="useTable" id="table_container">
			<table id="item_table" class="table table-striped table-condensed table-hover"
				cellspacing="0" width="100%"></table>
		</div>

		<div ng-hide="useTable" class="itemBox">
			<a class="item" ng-repeat="i in items | filter:dupesFilter | filter:typeFilter | filter:filterText | orderBy:'price':1 | limitTo:iconLimit"
				ng-style="{'border': '2px solid #' + i.color, 'background-color': '#' + i.bg}"
				target="_blank" ng-href="{{LISTING + i.url}}">
				<span ng-hide="i.count == 1" class="counter">x{{i.count}}</span>
				<span ng-show="i.rarity || i.rcolor" class="rarity {{i.rarity + appidLoaded}}" ng-style="{'background-color': '#' + i.rcolor}"
					tooltip-popup-delay='250' tooltip-placement="top" tooltip="{{i.rarity}}">.</span>
					<img ng-src="{{ECONOMY + i.icon + '/62fx62f'}}" tooltip-popup-delay='250' tooltip-placement="top" tooltip="{{i.name}}" class="itemicon"><br>
					<span class="price">
						{{((i.price * (flags.stack ? i.count : 1) || 'x') | currency:curIndex:flags.fee) || 'N/A'}}
					</span>
			</a>
		</div>
		<button style="margin: 5px;" ng-show="(items | filter:dupesFilter | filter:typeFilter | filter:filterText).length > iconLimit && !useTable" type="button" class="btn" ng-click="iconLimit=9999999">Show all</button>
		</div>
	</div>

	<script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/2/dataTables.bootstrap.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.6/seedrandom.min.js"></script>
	<script src="ui-bootstrap-custom-tpls-0.7.0.min.js"></script>
	<script src="jquery.thumbhover.js"></script>
	<script src="main.js"></script>

	<div id="switch_placeholder_b335c229579208f471f90f8e8b24b27f" class="adswitch_skin"></div>
	<script> (__scads = window.__scads || []).push({"z":3185,"targetId":"switch_placeholder_b335c229579208f471f90f8e8b24b27f","domain":"delivery.e.switchadhub.com","width":"1642","height":"970"}); </script>
	<script async src="//delivery.e.switchadhub.com/adserver/sat.js?v=2"></script>

	<!-- Start of UserVoice code -->
	<script>
		UserVoice=window.UserVoice||[];
		(function(){
			var uv=document.createElement('script');
			uv.type='text/javascript';
			uv.async=true;
			uv.src='//widget.uservoice.com/XTFNtBU14F9kxY4Wh9Wo0A.js';
			var s=document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(uv,s)
		})();

		UserVoice.push(['set', {
			accent_color: '#448dd6',
			trigger_color: 'white',
			trigger_background_color: '#448dd6',
			smartvote_enabled: false,
			menu_enabled: false,
			contact_title: "Bugs / Suggestions"
		}]);

		UserVoice.push(['identify', {}]);
	</script>
	<!-- End of UserVoice code -->

	<!-- Start of Google Analytics code -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-30619812-2', 'auto');
		ga('require', 'linkid', 'linkid.js');
		ga('send', 'pageview');
	</script>
	<!-- End of Google Analytics code -->

	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
		var sc_project=9905430;
		var sc_invisible=1;
		var sc_security="89ce89e8";
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="create counter"
	href="http://statcounter.com/free-hit-counter/"
	target="_blank"><img class="statcounter"
	src="http://c.statcounter.com/9905430/0/89ce89e8/1/"
	alt="create counter"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->

</body>
</html>
