a.item {color: #5BD;}
a.item:hover {text-decoration: none;}
body {margin: 0; padding: 0; background-image: url(/img/bg.png);}
html, body {
	height: 97%;
}
button{outline: none !important;}
hr{border-top: 1px solid #DDD; margin: 12px 0;}
#container {
	width: 950px;
	margin: auto;
	position: relative;
	text-align: center;
	min-height: 100%;
	background: url(/img/simple.png);
	padding: 5px 10px;
	box-shadow: 0 0 12px 5px #666;
	z-index: 1;
}
.game-icon { height: 32px; }
.center{text-align: center}
.item{display: inline-block;
	margin: 6px;
	background-color: #292929;
	border: 2px solid #3A3A3A;
	padding: 12px 8px 0px 8px;
	border-radius: 3px;
	cursor: pointer;
	min-width: 72px;
	transition: opacity 0.1s;
	text-align: center;
}
.item:hover{opacity: 0.8;}
.btn.active {border-bottom-right-radius: 3px; border-top-right-radius: 3px; border-color: #CCC;}
.pbar{width: 600px; margin: 10px auto; margin-bottom: 20px; border: 1px solid #CCC;}
.Uncommon753, .Foil753 {background-color: #AAA;}
.Rare753 {background-color: #EE2;}
.rarity {float: right; width: 10px; height: 10px; font-size: 0; border-radius: 5px; margin-top: -10px; margin-right: -6px;}
.counter {float: left; width: 0; margin-top: -14px; margin-left: -6px;}
.price {font-size: 9pt;}
.corner {
	position: absolute;
	opacity: 0.8;
	z-index: 10;
	top: 10px;
}
.topbutton {
	color: #159;
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;
	color: #159;
	background-color: #CCC;
	padding: 2px 8px;
	border-radius: 3px;
	box-shadow: 0px 3px 0px 0px #888;
	border: 1px solid #666;
	width: 75px;
	text-align: center;
	margin: 0 3px;
}
.corner img:hover {opacity: 0.8;}
.topbutton:hover {background-color: #CDE; text-decoration: none;}
.topbutton:active {top: 12px; box-shadow: 0px 1px 0px 0px #888;}
.popover {width: 130px; text-align: center;}
.popover-content {padding: 4px 6px;}
.itemBox{
	background-color: #111;
	border-radius: 5px;
	margin: 1px;
	padding: 6px;
	text-align: center;
}

.captcha {margin: 8px;}
.captcha > div {margin: auto;}

.Uncommon570 {background-color: #5e98d9}
.Rare570 {background-color: #4b69ff}
.Mythical570 {background-color: #8847ff}
.Legendary570 {background-color: #d32ce6}
.Ancient570 {background-color: #eb4b4b}
.Immortal570 {background-color: #e4ae39}

.dropdown {
	margin-top: -20px;
	margin-left: -2px;
}

.dropdown-menu {
	min-width: 70px;
	font-size: 12px;
}

.dropdown-menu>li>a {
	padding: 0;
}

.itemicon {
	width: 62px;
	height: 62px;
}
.adswitch_skin {
	position: fixed !important;
	top: 50px !important;
	left: 50%;
	margin-left: -785px;
	z-index: 0;
}
.captcha-submit {
	display: inline-block;
	line-height: 30px;
}

/* Top buttons */
.corner {
	position: absolute;
	opacity: 0.8;
	z-index: 10;
	top: 10px;
	transition: margin-top 0.3s;
}
.topbutton {
	color: #159;
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;
	color: #159;
	background-color: #CCC;
	padding: 2px 8px;
	border-radius: 3px;
	box-shadow: 0px 3px 0px 0px #888;
	border: 1px solid #666;
	width: 75px;
	text-align: center;
	margin: 0 3px;
	box-sizing: content-box;
}
.corner img:hover {opacity: 0.8;}
.topbutton:hover {background-color: #CDE; text-decoration: none;}
.topbutton:active {top: 12px; box-shadow: 0px 1px 0px 0px #888;}

/* Table styles */

table {
	max-width: none !important;
}

table.dataTable thead > tr > th {
	padding-left: 10px;
	padding-right: 14px;
}


.table-striped tbody>tr:nth-child(odd)>td {
	background-color: rgb(41,41,41);
}

.table-hover > tbody > tr:hover> td {
	background-color: rgb(69,69,69);
}

input.input-sm {
	height: 23px;
	padding: 5px;
	margin: 0 5px;
}

select.input-sm {
	height: 24px;
	line-height: 30px;
	padding: 0 5px;
}

.dataTables_filter > label {
	margin: 0;
}

.thirds {
	width: 33%;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
}

.pagination ul>li>a, .pagination ul>li>span {
	padding: 2px 11px;
}

div.dataTables_paginate ul.pagination {
	margin: 6px 0 0 0;
}

.bottomRow {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

div.dataTables_length {
	height: 30px;
}

div.dataTables_paginate {

}

div.dataTables_info {
	padding: 0;
	font-size: 8pt;
}

label.btn {
	width: 42px;
}

#table_container {
	color: #ccc;
	min-height: 100%;
	margin: 10px auto;
	padding: 5px 10px;
	max-width: 1024px;
	background: rgb(31,31,31);
	box-shadow: 0px 0px 3px #888;
	border-radius: 5px;
}

#table_container thead {
	color: white;
	border-bottom: 2px inset #333;
}

#table_container a {
    color: #52B1E0;
}

.name {
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	max-width: 250px;
}

.center {
	text-align: center !important;
}

th, td { white-space: nowrap; }

.table td {
	border-top: 0px;
}

.icon { cursor: zoom-in; opacity: 0.5; }

#thumbPopup {
	background-color: #111;
	box-shadow: 0 0 14px #030303 inset;
	border: 1px solid #000000;
	z-index: 100;
	border-radius: 3px;
}

/* Pagination */
.pagination ul>.active>a { background-color: #444; }
.pagination ul>li>a, .pagination ul>li>a:focus { background-color: #333; }
.pagination ul>li>a:hover { background-color: #555; }
.pagination ul>li>a { border: 1px solid #666; border-left-width: 0; }